<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='node_modules/bulma/css/bulma.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{settings.label}} - {% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>

<!-- nav -->
<nav class="hero is-link">
    <div class="hero-body">
        <p class="title">
            {{settings.label}}
        </p>
        <p class="subtitle">
            {{settings.description}}
        </p>
    </div>
</nav>

<!-- content -->
<div class="section container">
    {% block content %}{% endblock %}
</div>

<!-- footer -->
<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>Aquabox</strong> by <a href="">dendev</a>. The source code is licensed
            <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
            is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
        </p>
    </div>
</footer>

</body>
</html>