{% extends "base.html" %}

{% block title %}
    Home
{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

<!-- title -->
<h1 class="title is-1">Actions possibles</h1>
<h2 class="subtitle">liste toutes les ressources et actions disponibles</h2>

<!-- list actions -->
{% for resource in settings.resources %}
{% if not '-task' in resource.get('type') %}
<div class="box">
    <h3 class="title is-3">{{resource.label}}</h3>
    <h3 class="subtitle is-3">{{resource.description}}</h3>
    {% for action in resource.actions %}
    <p><a href="/api/{{resource.slug}}/{{action.slug}}">/api/{{resource.slug}}/{{action.slug}}</a></p>
    {% endfor %}
</div>
{% endif%}
{% endfor %}

<!-- img -->
<figure class="image is-16by9">
    <img src="{{ url_for('static', filename='img/aquabox2.jpg')}}">
</figure>

<!-- msg -->
<div class="notification is-primary mt-5 image-description">
    {{settings.image.description}}
</div>
{% endblock %}